# Core functionality - changes here should be rare!
/src/app.py                   @oliverosz
/src/backend/database.py      @oliverosz
/src/backend/routers/auth.py  @oliverosz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oliverosz
